/* ENCABEZADO */
.header-container {
  background: linear-gradient(72deg, #00273d, #004e7a);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 5px 4px 6px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}
.header-title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 15px;
}

/* NAV BAR */ 
.navbar-default{
  background-image:linear-gradient(72deg, #333333, #aaaaaa) !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  font-weight: bold;
  color: rgba(255, 255, 255, 1) !important; 
  background-color: #004e7a  !important;
  border-radius: 10px;
}

.navbar-default .navbar-nav > li > a{
  color: rgba(255, 255, 255, .8);
}

